@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*!VARIABLES*/
:root{
    --color-dark: #4d4d4e46;
    --color_text-primary: #101E2C;
    --Color_text-secondary: #ffffff;
    --color_text-tertiary: #485663;
    --main_color-primary: #C2B24E;
    --main_color-variant: #80742a;
    --color_text: #5f3326;
    --background-color: #e0dfdf;
    --lowText_font_size: 16px;
    --text_size_title: 50px;
    --text_size_title2: 40px;
    --text_title_card: 24px;
    --text_title_cardv2: 20px;
    --text_paragraph: 16px;
    --text_max-width: 1700px;
    --box_shadow-primary: 0px 6px 50px -20px rgba(0,0,0,0.2);
}
html{
    scroll-behavior: smooth;
    background-color: var(--background-color);
    transition: all 1.5s ease;
}
body{
    transition: all 1.5s ease;
}
/*!HEADER*/
header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}
header .brand{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .brand:hover{
    color: var(--main_color-primary);
}
header .brand img{
    width: 180px;
}
header .navigation{
    position: relative;
}
header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover::before{
    width: 100%;
    background: var(--main_color-primary);
}
#toggle{
    display: none;
}
#label_toggle{
    position: relative;
    align-items: center;
    font-size: 1.5em;
    color: var(--main_color-primary);
    cursor: pointer;
    transition: all 1.5s ease;
}
.container__header.active{
    width: 100%;
    height: 13%;
    margin: auto;
    background: #252525;
    opacity: 0.9;
    padding: 10px 20px;
}
.container__header.active .brand img{
    width: 150px;
    margin-top: 20px;
}
.container__header.active .menu a{
    color: white;
}
.container__header.active .menu ul li a:hover{
    color: white;
}
.container__header.active .btn__quote:hover{
    color: white;
}
.container-slider{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slider{
    width: 400%;
    height: 100%;
    display: flex;
}
.slider-section{
    width: calc(100% / 4);
    height: 100%;
}

.slider-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(45%);
}
.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left{
    left: 10px;
}
.btn-right{
    right: 10px;
}
.btn-left:hover,
.btn-right:hover{
    font-size: 2rem;
}
.container-text{
    z-index: 888;
    position: absolute;
    top: 35%;
    left: 10%;
    display: flex;
    color: #fff;
    width: 70%;
}
.container-text .text h1{
    font-size: 5em;
    font-weight: 900;
    max-width: 90%;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 80px;
}
.container-text .text p{
    margin-bottom: 65px;
    font-size: 1.3em;
    font-weight: 500;
    max-width: 50%;
}
.container-text .text a{
    background: #2b2929;
    padding: 15px 35px;
    color: var(--main_color-primary);
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s ease; 
}
.container-text .text a:hover{
    background: var(--main_color-primary);
    color: #fff;
}
.container-slider .media-icons{
    z-index: 999;
    position: absolute;
    top: 65%;
    right: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
.container-slider .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}
.container-slider .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.container-slider .media-icons a:hover{
    transform: scale(1.3);
    color: var(--main_color-primary);
}

/*!DARKMODE*/
.dark{
    background: rgba(0, 0, 0, 0.9);
}
.card-container.dark{
    background: black;
    transition: all 1.3s ease;
}
.card-container.dark p,
.card-container.dark h2{
    color: white;
}
.card-container2.dark{
    background: black;
    transition: all 1.3s ease;
}
.card-container2.dark p,
.card-container2.dark h2,
.card-container2.dark ul li{
    color: white;
}
.card-container3.dark{
    background: black;
    transition: all 1.3s ease;
}
.card-container3.dark p{
    color: white;
}
.modal-container.dark,
.modal-container2.dark,
.modal-container3.dark,
.modal-container4.dark,
.modal-container5.dark,
.modal-container6.dark,
.modal-container7.dark,
.modal-container8.dark{
    background: black;
}
.modal-container.dark p,
.modal-container2.dark p,
.modal-container3.dark p,
.modal-container4.dark p,
.modal-container5.dark p,
.modal-container6.dark p,
.modal-container7.dark p,
.modal-container8.dark p{
    color: white;
}
.container-data.dark{
    background: black;
}
.container-data.dark p{
    color: white;
}

/**WORK*/
/*!ESTILOS GENERALES CARDS*/
.container__card-primary{
    max-width: var(--text_max-width);
    width: 100%;
    margin: 20px auto;
    padding: 15px 0px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.card__primary{
    max-width: var(--text_max-width);
    margin: 20px auto;
    text-align: center;
    padding: 0px 20px;
}
.text__card-primary{
    max-width: 800px;
    margin: auto;
}
.text__card-primary p{
    color: var(--color_text);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
}
.text__card-primary h1{
    font-size: var(--text_size_title2);
    font-weight: 600;
    color: var(--main_color-primary);
}
.container__box-cardPrimary{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}
.box__card-primary{
    max-width: 350px;
    padding: 30px 20px;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    margin: 14px;
    transition: all 300ms;
}
.box__card-primary:hover{
    border: 1px solid transparent;
    box-shadow: var(--box_shadow-primary);
}
.box__card-primary .fa-solid{
    font-size: 80px;
}
.box__card-primary h2{
    font-size: var(--text_title_card);
    margin-top: 40px;
    font-weight: 500;
}
.box__card-primary p{
    margin-top: 20px;
}
.box__card-primary ul li{
    margin-top: 2px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: start;
}
.card__trust:hover{
    box-shadow: 0 5px 10px var(--main_color-variant);
    transform: scale(1.05);
}
.card__trust p{
    text-align: center;
}

/*!BUILD TRUST FIRST*/
.container__about{
    position: relative;
    max-width: var(--text_max-width);
    width: 100%;
    height: 100%;
    margin: 40px auto;
    padding: 100px 0px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.about{
    max-width: var(--text_max-width);
    margin: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text__about{
    width: 100%;
    padding-right: 40px;
}
.text__about h1{
    color: var(--main_color-primary);
    font-weight: 600;
}
.card__trust p,
.card__trust ul li{
    color: var(--color_text);
    font-weight: 500;
}

/*!WHAT DO WE DO?*/
.container__card-services{
    max-width: var(--text_max-width);
    width: 100%;
    margin: 20px auto;
    padding: 100px 0px;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container__card-services h1{
    font-size: var(--text_size_title2);
    font-weight: 600;
    color: var(--main_color-primary);
    margin-bottom: 20px;
    text-align: center;
}
.container__card-services .parrafo{
    color: var(--color_text);
    letter-spacing: 4px;
    font-size: var(--text_paragraph);
    font-weight: 500;
    text-align: center;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    padding: 20px;
}
.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #E6E6E6;
    border-radius: 20px;
    transition: transform 0.5s, background 0.5s;
}
.service p{
    text-align: center;
    color: var(--color_text);
    font-weight: 500;
}
.service img{
    width: 60px;
    margin-bottom: 10px;
}
.service h2{
    font-weight: 600;
    margin-bottom: 8px;
}
.service:hover{
    box-shadow: 0 5px 10px var(--main_color-variant);
    transform: scale(1.05);
}
.container__service a{
    text-decoration: none;
    width: 130px;
}
.experience-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 0;
    padding: 10px 10px;
    background-color: transparent;
    border: 0.5px solid var(--main_color-primary);
    color: var(--main_color-primary);
    font-size: 14px;
    font-weight: 400;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.experience-btn:hover{
    background-color: var(--main_color-primary);
    color: white;
    transform: scale(1.09);
}
.service i{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -10px;
    font-size: 22px;
    transition: all 0.3s ease;
}
.service .content{
    margin-top: 25px;
    display: none;
    transition: all 0.3s ease;
}
.service.selected i{
    transform: rotate(180deg);
}
.service.selected .content{
    display: block;
}
/*!DATA*/

.container-data{
    max-width: var(--text_max-width);
    width: 100%;
    margin: 20px auto;
    padding: 30px 0px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.see-data{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.data h3{
    font-size: 30px;
    text-align: center;
    color: var(--main_color-primary);
}
.data p{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #5f3326;
}
/*!EXPERIENCE*/
.body__page{
    max-width: var(--text_max-width);
    height: 100%;
    margin: auto;
    padding-top: 10px;
    background: white;
    border-radius: 20px;
}
.card-text{
    margin-top: 100px;
    text-align: center;
}
.container-slider-experience{
    max-width: 1600px;
    width: 100%;
    max-height: 800px;
    height: 100%;
    overflow: hidden;
    margin: 25px auto;
    position: relative;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
}
.slider-experience{
    width: 800%;
    height: 100%;
    display: flex;
}
.slider-section-experience{
    width: calc(100% / 8);
    height: 100%;
}

.slider-section-experience img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.btn-left-slide,
.btn-right-slide{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}
.btn-left-slide{
    left: 10px;
}
.btn-right-slide{
    right: 10px;
}
.btn-left-slide:hover,
.btn-right-slide:hover{
    font-size: 2.7rem;
    color: red;
}


/*!MODAL EXPERIENCE*/
.modal,
.modal2,
.modal3,
.modal4,
.modal5,
.modal6,
.modal7,
.modal8{
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    --transition: transform .5s;
}
.modal-container,
.modal-container2,
.modal-container3,
.modal-container4,
.modal-container5,
.modal-container6,
.modal-container7,
.modal-container8{
    margin: auto;
    width: 90%;
    max-width: 750px;
    background-color: #fff;
    border-radius: 6px;
    padding: 1.5em 2em;
    display: grid;
    gap: 1em;
    place-items: initial;
    grid-auto-columns: 100%;
    transition: var(--transition);
}
.modal-text h3{
    font-size: 2rem;
    color: var(--main_color-primary);
}
.modal-text p{
    margin-bottom: 10px;
}
.modal-container img,
.modal-container2 img,
.modal-container3 img,
.modal-container4 img,
.modal-container5 img,
.modal-container6 img,
.modal-container7 img,
.modal-container8 img{
    display: flex;
    width: 90%;
    max-width: 700px;
    margin: auto;
    border-radius: 8px;
}
.modal-close,
.modal-close2,
.modal-close3,
.modal-close4,
.modal-close5,
.modal-close6,
.modal-close7,
.modal-close8{
    font-size: 27px;
    text-align: end;
    cursor: pointer;
}
.modal-show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

/*!REVIEWS*/
.reviews-container{
    max-width: var(--text_max-width);
    width: 100%;
    margin: 20px auto;
    padding: 15px 0px;
    position: relative;
    background-color: #303030;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/*!FOTTER*/
footer{
    width: 100%;
    padding-bottom: 30px;
}

.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box__footer .logo img{
    width: 300px;
}
.contact-btn{
    border: 1px solid var(--main_color-variant);
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    transition: all 300ms ease-in-out;
}
.contact-btn:hover{
    color: #fff;
    background-color: var(--main_color-primary);
    border: 1px solid var(--main_color-primary);
    transform: scale(1.05);
}
.number{
    margin-bottom: 5px;
}


.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: var(--text_max-width);
    align-items: center;
    margin: 0 auto;
    margin-bottom: 45px;
}
.box__footer{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}
.contact{
    padding-top: 0;
}
.footer-info{
    margin: 0 45px;
}
.box__footer .direccion{
    text-align: center;
    max-width: 200px;
    font-weight: 500;
    color: #7A7A7A;
    font-size: 18px;
}
.box__footer .telefono{
    text-align: center;
    max-width: 200px;
    margin-top: 10px;
    font-weight: 600;
    color: #7A7A7A;
    font-size: 18px;
}
.box__footer h2{
    text-align: center;
    margin-bottom: 10px;
    color: #343434;
    font-weight: 700;
}
.box__footer a{
    margin-top: 10px;
    color: #7A7A7A;
    font-weight: 600;
    text-decoration: none;
}
.box__footer a:hover{
    opacity: 0.9;
    color: var(--main_color-variant);
}
.box__footer a .fab{
    font-size: 30px;
}
.fa-brands{
    margin-bottom: 15px;
}

/*COPYRIGHT*/
.box__copyright{
    max-width: var(--text_max-width);
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color: #7A7A7A;
}
.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7A7A7A;
}

/**RESPONSIVE*/
@media (max-width: 1040px){
    header{
        padding: 12px 20px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }
    header .navigation .navigation-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }
    header .navigation .navigation-items a:before{
        background: #222;
        height: 5px;
    }
    header .navigation .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }
    header .navigation .navigation-items .btn-contact{
        padding: 10px 15px;
        background-color: var(--main_color-variant);
        border-radius: 20px;
    }
    .menu-btn{
        background: url(/Assets/images/Background/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .menu-btn.active{
        z-index: 999;
        background: url(/Assets/images/Background/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
    .contact{
        margin-bottom: 25px;
    }
    .container-text{
        top: 20%;
        left: 4%;
    }
    .container-text .text h1{
        font-size: 4em;
        font-weight: 900;
    }
    .container-text .text p{
        font-size: 1em;
        font-weight: 400;
    }
}

@media (max-width: 560px) {
    .container-text{
        top: 23%;
        left: 6%;
    }
    .container-text .text h1{
        font-size: 1.8em;
        line-height: 45px;
        margin-top: 50px;
        margin-bottom: 60px;
        font-weight: 900;
    }
    .container-text .text p{
        font-size: 0.8em;
        font-weight: 400;
        margin-bottom: 50px;
    }
    .contact{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .modal-text h3{
        font-size: 1rem;
        color: var(--main_color-primary);
    }
    .modal-text p{
        margin-bottom: 7px;
        font-size: 12px;
    }
    .modal-container img,
    .modal-container2 img,
    .modal-container3 img,
    .modal-container4 img,
    .modal-container5 img,
    .modal-container6 img,
    .modal-container7 img,
    .modal-container8 img{
        display: flex;
        width: 100%;
        max-width: 750px;
        margin: auto;
        border-radius: 8px;
    }
    .btn-left,
    .btn-right{
        display: none;
    }
    .data h3{
        font-size: 20px;
    }
    .data p{
        font-size: 12px;
    }
}